@import url('../index.scss');


.Infinity_Element{
  background-color: #171a21;
}

.Main_Wrapper{
  background-color: #171a21;
  width: 1171px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}